{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/omclient/css/base.css') }}" />
    <script src="{{ asset('bundles/omclient/js/utils.js') }}" ></script>
    <script src="{{ asset('bundles/omclient/js/app.js') }}" ></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" ></script>
    {{ parent() }}
{% endblock %}

{% block title %}Messenger {{ parent() }}{% endblock %}

{% block body %}
    <div class="content-block">
        {% block content %}Content{% endblock %}
    </div>

{% endblock %}

